<!-- templates/registration/password_reset_form.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/password-reset-form.css' %}">
</head>
<body class="page">
  <main class="password-reset__block">
    <h1 class="page__title">Сброс пароля</h1>
    <form class="password-reset__form" method="post">
      {% csrf_token %}
      <p class="password-reset__content">
          <label for="{{ form.email.id_for_label }}">Адрес электронной почты</label>
          {{ form.email }}
          <!-- Добавьте любое кастомное сообщение об ошибке -->
          {% if form.email.errors %}
              <div class="error">
                  {% for error in form.email.errors %}
                      {{ error }}
                  {% endfor %}
              </div>
          {% endif %}
      </p>
      <button class="password-reset__btn btn" type="submit">Отправить письмо для сброса</button>
  </form>
  </main>
</body>
</html>
