<h1>
    Доброго времени суток, 
    {% if user.first_name %}
        {{ user.first_name }}!
    {% else %}
        {{ user.email }}!
    {% endif %}
</h1>
<div id="profile-display">
    <a href="{% url 'manage_projects' %}">Проекты</a>
    <h2>Профиль</h2>
    <p>Логин: {{ user.email }}</p>
    {% if user.first_name %}
    <p>Имя: {{ user.first_name }}</p> 
    {% endif %}

    {% if p_form.phone_number.value %}
    <p>Телефон: +7{{ p_form.phone_number.value }}</p>
    {% endif %}
    
    {% if p_form.api_key.value %}
    <p>API Key: {{ p_form.api_key.value }}</p>
    {% endif %}
    <button onclick="toggleEdit(true)">Редактировать</button>
</div>

<div id="profile-edit" style="display: none;">
    <h2>Редактор профиля</h2>
    <p>Почта: {{ email }}</p>
    <form method="post">
        {% csrf_token %}
        {{ u_form.as_p }}
        {{ p_form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    <button onclick="toggleEdit(false)">Отмена</button>
</div>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>

<script>
function toggleEdit(editMode) {
    const displayDiv = document.getElementById('profile-display');
    const editDiv = document.getElementById('profile-edit');
    if (editMode) {
        displayDiv.style.display = 'none';
        editDiv.style.display = 'block';
    } else {
        displayDiv.style.display = 'block';
        editDiv.style.display = 'none';
    }
}
</script>