.hidden-coordinates {
    display: none;
}

.assigned-events__tabs {
    display: flex;
    justify-content: center;
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(17 168 205);
}

.tab.active {
    border-bottom: 2px solid rgb(249 145 87);
    color: rgb(249 145 87);
}

.tab-content {
    display: none;
    padding: 20px 0;
}

.tab-content.active {
    display: block;
}

td.clickable { 
    cursor: pointer; 
}

.assigned-events__table {
    width: 100%;
    margin-bottom: 25px;
}

.assigned-events__table-thead-th {
    padding: 10px;
    color: rgb(209 172 97);
}

/* .assigned-events__table-tbody-tr:nth-child(odd) {
    background-color: rgb(51 67 77);
} */

.assigned-events__table-td {
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(51 67 77);
}

.event-type--montage {
    color: rgb(129 172 85);
}

.event-type--audit {
    color: rgb(249 145 87);
}

.event-type--demontage {
    color: rgb(236 83 77);
}

.assigned-events__table-td:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 3px;
}

.assigned-events__table-td-link {
    text-transform: uppercase;
    color: rgb(17 168 205);
}

.assigned-events__table-td-btns {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.confirm-btn {
    color: rgb(27 43 52);
    background-color: rgb(17 168 205);
}

.remove-btn {
    color: rgb(27 43 52);
    background-color: rgb(236 83 77);
}

.start-btn {
    color: rgb(27 43 52);
    background-color: rgb(129 172 85);
}

.in-progress-addresses {
    width: 100%;
}

.in-progress-addresses__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.in-progress-addresses__title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: rgb(187 128 179);
}

.in-progress-addresses__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.in-progress-addresses__col {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    gap: 20px;
}

.in-progress-addresses__map-wrap {
    position: -webkit-sticky;
    position: sticky;
    display: block;
    top: 20px;
    width: 100%;
    height: 95vh;
    border-radius: 3px;
    overflow: hidden;
    z-index: 10;
}

.in-progress-addresses__map {
    margin-bottom: 25px;
}

.in-progress-addresses__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.optimize-route-btn,
.print-addresses-btn {
    background-color: rgb(17 168 205);
    color: rgb(27 43 52);
}

.in-progress-addresses__list {
    align-self: start;
    width: 100%;
}

.in-progress-addresses__item {
    /* border: 1px solid rgb(249 145 87); */
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    border-radius: 3px;
    background-color: rgb(51 67 77);
}

.in-progress-addresses__item:not(:last-child) {
    margin-bottom: 5px;
}

/* .in-progress-addresses__item:nth-child(odd) {
    background-color: rgb(51 67 77);
} */

.accordion-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    gap: 5px;
}

.accordion-header__row:first-child:before,
.accordion-header__row:first-child:after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 17px;
    height: 3px;
    background-color: rgb(17, 168, 205);
    transition: transform 0.3s ease;
}

.accordion-header__row:first-child:after {
    transform: rotate(90deg);
}

.accordion-header.active .accordion-header__row:first-child:before {
    transform: rotate(45deg);
    background-color: rgb(236 83 77);
}

.accordion-header.active .accordion-header__row:first-child:after {
    transform: rotate(135deg);
    background-color: rgb(236 83 77);
}

.accordion-header.active .address-name {
    white-space: pre-wrap;
    /* max-height: 90px; */
    max-height: max-content;
    transition: all 0.3s ease;
}

.accordion-header__row {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.accordion-header__row:first-child {
    padding-right: 25px;
}

.address-number {
    font-weight: bold;
    color: rgb(187 128 179);
}

.project-name {
    flex-shrink: 0;
    font-weight: bold;
}

.event-type {
    flex-shrink: 0;
}

.event-type--montage {
    color: rgb(129 172 85);
}

.event-type--audit {
    color: rgb(249 145 87);
}

.event-type--demontage {
    color: rgb(236 83 77);
}

.photo-count {
    margin-left: auto;
}

.photo-count--uploaded {
    color: rgb(129, 172, 85);
}

.address-name {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    max-height: 30px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(27 43 52);
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion-content {
    padding: 0;
}

.photo-upload-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-uploaded {
    margin-right: 25px;
    font-size: 20px;
    color: rgb(129 172 85);
}

.photo-upload-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.file-input-wrapper { 
    position: relative; 
    display: flex;
    align-items: center;
    gap: 8px; 
    overflow: hidden; 
}

.file-input { 
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer; 
}

.file-btn { 
    padding: 5px;
    color: rgb(27 43 52); 
    background-color: rgb(17, 168, 205);
    cursor: pointer;
}

.force-majeure-input {
    margin-left: auto;
}

.upload-btn {
    padding: 5px;
    color: rgb(27 43 52);
    background-color: rgb(249 145 87);
}

.reload-btn {
    padding: 5px;
    color: rgb(27 43 52);
    background-color: rgb(249 145 87);
}