/* .page {
    
} */

.page_login {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.page__content {
    width: 100%;
    padding-top: 25px;
}

.page__title {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}

.page__title--word1 {
    font-size: 77px;
    color: rgb(129 172 85);
}

.page__title--word2 {
    font-size: 50px;
    color: rgb(249 145 87);
}

.page__title--word3 {
    font-size: 61px;
    color: rgb(236 83 77);
}

.page__title--version {
    font-size: 20px;
    color: rgb(187 128 179);
}

.login {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffffad;
    z-index: 1;
}

.login__title {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(27 43 52);
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__label {
    margin-bottom: 0.5rem;
}

.login__input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    background-color: #a5a5a582;
}

.login__button {
    margin-bottom: 1rem;
    background-color: rgb(17 168 205);
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.login__register-link, 
.login__forgot-password {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #007bff;
    text-decoration: none;
}

.login__messages {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
}

.messages__item {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 0.5rem;
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

#map {
    position: fixed;
    top: -10%;
    left: -10%;
    width: 120%; /* Увеличиваем размер карты на 20% ширины и высоты для создания эффекта */
    height: 120%;
    z-index: -1;
    filter: grayscale(100%);
    transition: transform 0.1s linear;
}

[class*="copyrights-pane"] {
    display: none !important;
}