.registration-mode__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-mode__link {
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 3px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(204 204 204);
    text-transform: uppercase;
    background-color: rgb(17 168 205);
}

.registration-mode__back-link {
    font-size: 22px;
    font-weight: bold;
    color: rgb(236 83 77);
    text-transform: uppercase;
}