html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'font', sans-serif;
}

.no-scroll {
    overflow: hidden;
}

.page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    color: rgb(204 204 204);
    background-color: rgb(27 43 52);
}

.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav {
    margin-right: 25px;
    margin-bottom: 15px;
    padding: 25px 0;
}

.nav__list {
    display: flex;
}

.nav__link {
    padding: 10px;
    border: 1px solid rgb(27 43 52);
    border-radius: 3px 3px 0 0;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(17 168 205);
}

.nav__link--active {
    border-color: rgb(249 145 87);
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    color: rgb(249 145 87);
}

.nav__link--inactive {
    border-bottom: 1px solid rgb(249 145 87);
}

.logo {
    width: 130px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(27 43 52);
}

.page__title {
    margin: 0;
    margin-bottom: 25px;
    color: rgb(187 128 179);
}

.page__block-title {
    margin: 0;
    color: rgb(187 128 179);
}

.modal__title {
    margin: 0;
    color: rgb(249 145 87);
    text-transform: uppercase;
}

.page__modal-title {
    margin: 0;
    color: rgb(187 128 179);
}

.hidden-title {
    margin: 0;
    visibility: hidden;
    height: 0;
    width: 0;
}

ymaps {
    border-radius: 3px;
}

.project__header,
.event__header {
    position: -webkit-sticky; /* Для поддержки в Safari */
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    background-color: rgb(27 43 52);
    overflow: hidden;
    z-index: 15;
}

.bread-crumbs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bread-crumbs__item {
    position: relative;
    padding: 1px 2px;
    border-radius: 3px;
    background-color: rgb(17 168 205);
}

.bread-crumbs__item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -7px; /* Отступ от левого края */
    transform: translateY(-50%); /* Центровка по вертикали */
    width: 0;
    height: 0;
    border-top: 10px solid transparent; /* Верхняя граница */
    border-bottom: 10px solid transparent; /* Нижняя граница */
    border-right: 9px solid rgb(17 168 205); /* Правая граница (цвет треугольника) */
}

.bread-crumbs__link {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(27 43 52);
}

.page__close-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.page__close-btn::before,
.page__close-btn::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 7px;
    background-color: rgb(236 83 77);
    transition: transform 0.3s ease;
}

.page__close-btn::before {
    transform: rotate(45deg);
}

.page__close-btn::after {
    transform: rotate(-45deg);
}

.tabs {
    display: flex;
    margin-bottom: 25px;
    padding: 0;
}

.tab-link {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(17 168 205);
}

.tab-link.active {
    border-bottom: 2px solid rgb(249 145 87);
    color: rgb(249 145 87);
}

.page__footer {
    height: 100px;
}