<!-- templates/projects/assigned_events_list.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>События к исполнению</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.1.12.1.min.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey={{ manager_api_key }}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/assigned-events-list.css' %}">
    <script type="text/javascript">
        $.ajaxSetup({
            headers: { "X-CSRFToken": "{{ csrf_token }}" }
        });
    </script>
    <script>
        window.confirmExecutorUrl = "{% url 'confirm_executor' %}";
        window.startEventUrl = "{% url 'start_event' %}";
        window.saveOrderUrl = "{% url 'save_combined_address_order' %}";
        window.getAddressesForEventsUrl = "{% url 'get_addresses_for_events' %}";
        window.uploadCombinedAddressesPhotosUrl = "{% url 'upload_combined_addresses_photos' %}";
        window.optimizeRouteUrl = "{% url 'optimize_route' %}";
        window.csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'js/assigned-events-list.js' %}"></script>
</head>
<body class="page">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link nav__link--inactive" href="{% url 'executor_profile' %}">Профиль</a>
            </li>
            <li class="nav__item">
                <a class="nav__link nav__link--active">События</a>
            </li>
        </ul>
    </nav>
    <main class="assigned-events__content">
        <h1 class="page__title">События к исполнению</h1>
        <div id="tabs">
            {% for status, data in event_data_by_status.items %}
                <div class="tab {% if forloop.first %}active{% endif %}" data-status="{{ status }}">
                    {{ data.display }} ({{ data.count }})
                </div>
            {% endfor %}
        </div>
    
        <div id="tab-contents">
            {% for status, data in event_data_by_status.items %}
            <div class="tab-content {% if forloop.first %}active{% endif %}" id="content-{{ status }}">
                <table class="assigned-events__table">
                    {% if data.events %}
                        <thead class="assigned-events__table-thead">
                            <tr class="assigned-events__table-thead-tr">
                                {% if status == 'in_progress' and in_progress_count > 1 %}
                                <th class="assigned-events__table-thead-th"></th> <!-- Колонка для чекбоксов -->
                                {% endif %}
                                <th class="assigned-events__table-thead-th">Название проекта</th>
                                <th class="assigned-events__table-thead-th">Организация</th>
                                <th class="assigned-events__table-thead-th">Продукция</th>
                                <th class="assigned-events__table-thead-th">Тип события</th>
                                <th class="assigned-events__table-thead-th">Дата</th>
                                <th class="assigned-events__table-thead-th">Кол-во адресов</th>
                                <th class="assigned-events__table-thead-th">Действия</th>
                            </tr>
                        </thead>
                    {% endif %}
                    <tbody class="assigned-events__table-tbody">
                        {% for event, assigned_address_count in data.events %}
                            <tr class="assigned-events__table-tbody-tr" data-url="{% url 'event_detail' event.id %}">
                                {% if status == 'in_progress' and in_progress_count > 1 %}
                                <td class="assigned-events__table-td"><input type="checkbox" class="event-checkbox" value="{{ event.id }}"></td>
                                {% endif %}
                                <td class="assigned-events__table-td"><strong>{{ event.project.name }}</strong></td>
                                <td class="assigned-events__table-td">{{ event.project.organization }}</td>
                                <td class="assigned-events__table-td">{{ event.project.product }}</td>
                                <td class="assigned-events__table-td 
                                    {% if event.get_event_type_display == 'Монтаж' %} event-type--montage
                                    {% elif event.get_event_type_display == 'Аудит' %} event-type--audit 
                                    {% elif event.get_event_type_display == 'Демонтаж' %} event-type--demontage 
                                    {% endif %}">
                                    {{ event.get_event_type_display }}
                                </td>
                                <td class="assigned-events__table-td">{{ event.event_date|date:"d.m.y" }} - {{ event.due_date|date:"d.m.y" }}</td>
                                <td class="assigned-events__table-td">{{ assigned_address_count }}</td>
                                <td class="assigned-events__table-td">
                                    <!-- Действия -->
                                    <a class="assigned-events__table-td-link" href="{% url 'event_detail' event.id %}">Детали</a>
                                    {% if status == 'assigned' %}
                                    <div class="assigned-events__table-td-btns">
                                        <button type="button" class="confirm-btn btn" data-event-id="{{ event.id }}" data-user-id="{{ request.user.id }}">Подтвердить</button>
                                        <form action="{% url 'event_remove' event.id %}" method="post" class="remove-form">
                                            {% csrf_token %}
                                            <button type="button" class="remove-btn btn" data-event-name="{{ event.project.name }}" data-event-type="{{ event.get_event_type_display }}">Отказаться</button>
                                        </form>
                                    </div>
                                    {% elif status == 'confirmed' %}
                                    <div class="assigned-events__table-td-btns">
                                        <button type="button" class="start-btn btn" data-event-id="{{ event.id }}" data-start-date="{{ event.event_date|date:"Y-m-d" }}">Начать</button>
                                        <form action="{% url 'event_remove' event.id %}" method="post" class="remove-form">
                                            {% csrf_token %}
                                            <button type="button" class="remove-btn btn" data-event-name="{{ event.project.name }}" data-event-type="{{ event.get_event_type_display }}">Отказаться</button>
                                        </form>
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="7">Нет событий со статусом "{{ data.display|lower }}".</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if status == 'in_progress' %}
                    <div id="in-progress-addresses" class="in-progress-addresses" style="display: none;">
                        <div class="in-progress-addresses__content">
                            <h3 class="in-progress-addresses__title">Объединённый список адресов</h3>
                            <div id="map" class="in-progress-addresses__map" style="width: 100%; height: 400px; margin-top: 20px;"></div>
                            <button id="optimize-route-btn" class="optimize-route-btn btn">Маршрут</button>
                            <ul id="combined-addresses-list" class="in-progress-addresses__list">
                                <!-- Для Элементов совмещённого списка адресов -->
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </main>
    
</body>
</html>