<html>
<head>
    <title>Создать проект</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#id_organization').change(function() {
                if ($(this).val() == 'add_new') {
                    $('#new-organization-field').show();
                } else {
                    $('#new-organization-field').hide();
                }
            }).change(); // Trigger change to update on load
        });
    </script>
</head>
<body>
    <h1>Создать проект</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <p>
        <label for="{{ form.name.id_for_label }}">Название</label>
        {{ form.name }}
      </p>
      <p>
        <label for="{{ form.organization.id_for_label }}">Организация взаимодействия</label>
        {{ form.organization }}
      </p>
      <div id="new-organization-field" style="display: none;">
        <label for="{{ form.new_organization.id_for_label }}">Новая организация</label>
        {{ form.new_organization }}
      </div>
      <p>
        <label for="{{ form.product.id_for_label }}">Продукция взаимодействия</label>
        {{ form.product }}
      </p>
      <p>
        <label for="{{ form.description.id_for_label }}">Описание</label>
        {{ form.description }}
      </p>
      <p>
        <label for="{{ form.excel_file.id_for_label }}">Excel-файл</label>
        {{ form.excel_file }}
      </p>
      <button type="submit">Далее</button>
    </form>
    <a href="{% url 'manage_projects' %}">Назад</a>
</body>
</html>