<!-- templates/projects/edit_event.html -->
<html>
<head>
    <title>Правка события - {{ event.get_event_type_display }}</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <h1>Правка события: {{ event.get_event_type_display }} | {{ project.name }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    <a href="{% url 'edit_project' project.id %}">Назад</a>
    
    <button type="button" id="copy-addresses-btn">Добавить адреса</button>
    
    <ul id="copied-addresses-list">
        <!-- Список будет заполняться здесь -->
    </ul>
    
    
    <script>
        $(document).ready(function() {
            const eventID = '{{ event.id }}';
            const storedAddressesKey = `eventAddresses_${eventID}`;
    
            // Загрузка адресов из localStorage
            let storedAddresses = localStorage.getItem(storedAddressesKey);
            if (storedAddresses) {
                $('#copied-addresses-list').html(storedAddresses);
            }
            
            $('#copy-addresses-btn').on('click', function() {
                let addressesHtml = "";
                let index = 1;
    
                // Используем адреса проекта для текущего события
                {% for address in project_addresses %}
                    addressesHtml += `<li>${index}. {{ address.name|escapejs }} ({{ address.latitude }}, {{ address.longitude }})</li>`;
                    index++;
                {% empty %}
                    addressesHtml = "<li>Нет доступных адресов для копирования.</li>";
                {% endfor %}
    
                $('#copied-addresses-list').html(addressesHtml);
                // Сохраняем адреса в localStorage для текущего события
                localStorage.setItem(storedAddressesKey, addressesHtml);
            });
        });
    </script>
</body>
</html>