<!-- templates/projects/edit_project.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Правка - {{ project.name }}</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
</head>
<body>
    <h1>{{ project.name }}</h1>
    <form id="project-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    <button type="button" id="get-coordinates-btn">Получить координаты</button>
    <div id="loading-indicator" style="display: none;">Идет парсинг адресов, пожалуйста подождите...</div>
    <a href="{% url 'create_event' project.id %}">Создать событие</a>
    <ul>
        {% for event in events %}
        <li>
            <a href="{% url 'edit_event' event.id %}">
                {{ event.get_event_type_display }} {{ event.event_date }}
            </a>
            <form method="POST" action="{% url 'delete_event' event.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Вы уверены что хотите удалить событие?');">Удалить</button>
            </form>
        </li>
        {% empty %}
            <li>Нет событий.</li>
        {% endfor %}
    </ul>
    
    <h2>Список адресов</h2>
    <ul id="addresses-list">
        {% for address in addresses %}
        <li data-id="{{ address.id }}">
            <span class="address-number">{{ forloop.counter }}.</span> 
            <span class="address-name">{{ address.name }}</span> |
            <span class="latitude">{{ address.latitude }}</span> | <span class="longitude">{{ address.longitude }}</span>
        </li>
        {% empty %}
        <li>Нет адресов.</li>
        {% endfor %}
    </ul>
    <button type="button" id="delete-addresses-btn">Удалить список</button>
    <button type="button" id="save-project-button">Сохранить проект</button>
    <a href="{% url 'manage_projects' %}">Закрыть</a>
    <script>
        $(document).ready(function() {
            $('#save-project-button').click(function() {
                $('#project-form').submit();
            });
        });
    </script>
    <script>
        document.getElementById('get-coordinates-btn').addEventListener('click', function() {
            document.getElementById('loading-indicator').style.display = 'block';
            const fileInput = document.querySelector('input[type="file"]');
            const formData = new FormData();
            formData.append('excel_file', fileInput.files[0]);
            
            fetch("{% url 'get_coordinates' project.id %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('loading-indicator').style.display = 'none';
                if (data.status === 'ok') {
                    // Обновите список адресов на странице
                    const addressList = document.getElementById('addresses-list');
                    addressList.innerHTML = '';
                    data.addresses.forEach((address, index) => {
                        const li = document.createElement('li');
                        li.innerHTML = `${index + 1}. ${address.name} | ${address.latitude} | ${address.longitude}`;
                        addressList.appendChild(li);
                    });
                    
                    // Сброс значения поля ввода файла
                    fileInput.value = '';
                } else {
                    alert('Ошибка при получении координат');
                }
            })
            .catch(error => {
                document.getElementById('loading-indicator').style.display = 'none';
                console.error('Error:', error);
                alert('Ошибка сети');
            });
        });
    </script>
    <script>
        document.getElementById('delete-addresses-btn').addEventListener('click', function() {
            if (!confirm('Вы уверены, что хотите удалить все адреса?')) {
                return;
            }
    
            fetch("{% url 'delete_addresses' project.id %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    // Очистите список адресов на странице
                    document.getElementById('addresses-list').innerHTML = '<li>Нет адресов.</li>';
                } else {
                    alert('Ошибка при удалении адресов');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Ошибка сети');
            });
        });
    </script>
</body>
</html>