<!-- templates/projects/edit_event.html -->
<html>
<head>
    <title>Правка события - {{ event.get_event_type_display }}</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'projects/yandex-map-modal.css' %}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=<212ad00a-2b33-4742-9805-36eb9352e2df>&lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <h1>Правка события: {{ event.get_event_type_display }} | {{ project.name }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    <a href="{% url 'edit_project' project.id %}">Назад</a>
    
    <button type="button" id="copy-addresses-btn">Добавить адреса</button>
    
    <h2>Адреса для события</h2>
    <ul id="event-addresses-list">
        {% for address in event.addresses.all %}
        <li data-id="{{ address.id }}">
            <span class="address-number">{{ forloop.counter }}.</span> 
            <input class="address-name" value="{{ address.name }}" data-id="{{ address.id }}"> |
            <span class="latitude">{{ address.latitude }}</span>
            <button class="show-map-btn" data-latitude="{{ address.latitude }}" data-longitude="{{ address.longitude }}">Карта</button> 
            <span class="longitude">{{ address.longitude }}</span>
            <button class="delete-address-btn" data-id="{{ address.id }}">Удалить</button>
        </li>
        {% empty %}
        <li>Нет адресов.</li>
        {% endfor %}
    </ul>

    <button type="button" id="add-address-btn">Добавить адрес</button>
    <button type="button" id="update-addresses-btn">Обновить список</button>
    <button type="button" id="show-map-btn">Показать карту</button>
    <!-- Кнопка для выбора исполнителей -->
    <button type="button" id="select-executors-btn">Выбрать исполнителей</button>

    <!-- Список исполнителей -->
    <h2>Список исполнителей для события</h2>
    <ul id="event-executors-list">
        {% for user in event.assigned_users.all %}
            {% with user.executorprofile as profile %}
            <li data-id="{{ profile.user.id }}">
                <span class="user-name">{{ profile.name|default:user.email }}</span>
                {% if profile.district %} | <span class="district">{{ profile.district }}</span>{% endif %}
                {% if profile.phone_number %} | <span class="phone-number">{{ profile.phone_number }}</span>{% endif %}
                <button class="assign-btn" data-id="{{ profile.user.id }}">Назначить</button>
                <button class="delete-executor-btn" data-id="{{ profile.user.id }}">Удалить</button>
            </li>
            {% endwith %}
        {% empty %}
            <li>Нет исполнителей.</li>
        {% endfor %}
    </ul>

    <!-- Модальное окно для выбора исполнителей -->
    <div id="executor-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Выберите исполнителей</h3>
            <ul id="executor-selection-list">
                {% for user in executors %}
                    {% with user.executorprofile as profile %}
                    <li>
                        <input type="checkbox" id="executor-{{ profile.user.id }}" data-id="{{ profile.user.id }}" data-name="{{ profile.name|default:user.email }}">
                        <label for="executor-{{ profile.user.id }}">
                            <span class="user-name">{{ profile.name|default:user.email }}</span>
                            {% if profile.district %} | <span class="district">{{ profile.district }}</span>{% endif %}
                            {% if profile.phone_number %} | <span class="phone-number">{{ profile.phone_number }}</span>{% endif %}
                        </label>
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
            <button type="button" id="add-executors-btn">Выбрать</button>
        </div>
    </div>

    <div id="map-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="map" style="width: 600px; height: 400px;"></div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#copy-addresses-btn').click(function() {
                const eventId = "{{ event.id }}";  // Получаем ID текущего события
                $.ajax({
                    url: "{% url 'copy_addresses' event.id %}",  // URL, на который будет отправлен POST-запрос
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    success: function(response) {
                        alert('Адреса были успешно добавлены');
                        
                        // Обновить список адресов
                        $('#event-addresses-list').empty(); // Очистить текущий список адресов
                        
                        // Перебрать полученные адреса и добавить их в список
                        response.addresses.forEach(function(address, index) {
                            const listItem = `
                                <li data-id="${address.id}">
                                    <span class="address-number">${index + 1}.</span> 
                                    <input class="address-name" value="${address.name}" data-id="${address.id}"> |
                                    <span class="latitude">${address.latitude}</span>
                                    <button class="show-map-btn" data-latitude="${address.latitude}" data-longitude="${address.longitude}">Карта</button> 
                                    <span class="longitude">${address.longitude}</span>
                                    <button class="delete-address-btn" data-id="${address.id}">Удалить</button>
                                </li>
                            `;
                            $('#event-addresses-list').append(listItem);
                        });
                    },
                    error: function(response) {
                        alert('Произошла ошибка при добавлении адресов');
                    }
                });
            });
            // Обработка удаления конкретного адреса
            $('#event-addresses-list').on('click', '.delete-address-btn', function() {
                const listItem = $(this).closest('li');
                const addressId = listItem.data('id');
                
                $.ajax({
                    url: "{% url 'delete_event_address' 0 %}".replace('/0/', '/' + addressId + '/'),  // URL для удаления адреса
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    success: function(response) {
                        alert('Адрес удален');
                        listItem.remove();  // Удаляем элемент из DOM после успешного удаления из БД
                        updateAddressNumbers(); // Обновляем нумерацию оставшихся адресов
                    },
                    error: function(response) {
                        alert('Произошла ошибка при удалении адреса');
                    }
                });
            });

            document.getElementById('add-address-btn').onclick = function() {
                const addressList = document.getElementById('event-addresses-list');
                
                // Создаем новый элемент списка без данных
                const newListItem = document.createElement('li');
                newListItem.innerHTML = `
                    <span class="address-number">${addressList.children.length + 1}.</span>
                    <input type="text" name="new_address_names[]" class="address-name" placeholder="Введите название адреса">
                    <span class="latitude"></span> | <span class="longitude"></span>
                    <button type="button" class="delete-address-btn">Удалить</button>
                `;
                
                addressList.appendChild(newListItem);
                updateAddressNumbers();
                
                newListItem.querySelector('.delete-address-btn').onclick = function() {
                    addressList.removeChild(newListItem);
                    updateAddressNumbers();
                };
            };

            // Функция для обновления нумерации адресов
            function updateAddressNumbers() {
                $('#event-addresses-list .address-number').each(function(index) {
                    $(this).text((index + 1) + '.');
                });
            }

            document.getElementById('update-addresses-btn').onclick = async function () {
                const addressList = document.getElementById('event-addresses-list');
                const newAddresses = [];
                
                for (let i = 0; i < addressList.children.length; i++) {
                    const listItem = addressList.children[i];
                    
                    // Проверяем, что название адреса не пустое
                    const addressNameInput = listItem.querySelector('.address-name');
                    if (!addressNameInput.value.trim() || listItem.dataset.id) continue; // Пропуск, если адрес пуст или уже есть в базе

                    try {
                        // Получаем координаты через Яндекс Геокодер
                        const response = await fetch(`https://geocode-maps.yandex.ru/1.x/?apikey=212ad00a-2b33-4742-9805-36eb9352e2df&format=json&geocode=${encodeURIComponent(addressNameInput.value)}`);
                        const data = await response.json();
                        
                        if (data.response.GeoObjectCollection.metaDataProperty.GeocoderResponseMetaData.found > 0) {
                            const geoObject = data.response.GeoObjectCollection.featureMember[0].GeoObject;
                            const point = geoObject.Point.pos.split(' ');
                            const latitude = parseFloat(point[1]);
                            const longitude = parseFloat(point[0]);
                            
                            // Добавляем новый адрес с дополнительными данными в массив
                            newAddresses.push({
                                name: addressNameInput.value.trim(),
                                latitude: latitude.toFixed(6),
                                longitude: longitude.toFixed(6)
                            });
                        }
                    } catch (error) {
                        console.error('Ошибка при получении координат:', error);
                    }
                }

                if (newAddresses.length > 0) {
                    $.ajax({
                        url: "{% url 'add_new_addresses' event.id %}",  // Обратите внимание на корректность URL
                        type: "POST",
                        data: {
                            addresses: JSON.stringify(newAddresses),
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        success: function(response) {
                            alert('Новые адреса успешно сохранены и добавлены в список');
                            
                            // После сохранения обновляем список адресов
                            $('#event-addresses-list').empty();
                            response.addresses.forEach(function(address, index) {
                                const listItem = `
                                    <li data-id="${address.id}">
                                        <span class="address-number">${index + 1}.</span> 
                                        <input class="address-name" value="${address.name}" data-id="${address.id}"> |
                                        <span class="latitude">${address.latitude}</span>
                                        <button class="show-map-btn" data-latitude="${address.latitude}" data-longitude="${address.longitude}">Карта</button> 
                                        <span class="longitude">${address.longitude}</span>
                                        <button class="delete-address-btn" data-id="${address.id}">Удалить</button>
                                    </li>
                                `;
                                $('#event-addresses-list').append(listItem);
                            });
                        },
                        error: function(response) {
                            alert('Произошла ошибка при сохранении новых адресов');
                        }
                    });
                }
            };

            // Глобальная переменная для карты
            var map;

            function initMap() {
                // Создаём карту только в первый раз
                if (!map) {
                    map = new ymaps.Map('map', {
                        center: [55.76, 37.64], // Начальная позиция - Москва
                        zoom: 10
                    });
                }

                // Очищаем все предыдущие метки
                map.geoObjects.removeAll();

                // Создаем массив для хранения координат меток
                let coordinates = [];

                // Добавление меток на карту
                $('#event-addresses-list li').each(function() {
                    // Чтение значений из DOM, удаления лишних пробелов
                    var latitudeText = $(this).find('.latitude').text().trim();
                    var longitudeText = $(this).find('.longitude').text().trim();
                    var name = $(this).find('.address-name').val() || '';
                    var addressNumber = $(this).find('.address-number').text().trim().replace('.', ''); // Убираем точку

                    // Замена запятых на точки, если потребуется
                    var latitude = parseFloat(latitudeText.replace(',', '.'));
                    var longitude = parseFloat(longitudeText.replace(',', '.'));

                    // Проверяем, что получили правильные координаты
                    if (!isNaN(latitude) && !isNaN(longitude)) {
                        var placemark = new ymaps.Placemark(
                            [latitude, longitude], 
                            {
                                // Добавляем номер адреса в bubble и на метке
                                balloonContent: `<strong>Адрес ${addressNumber}</strong>: ${name}`,
                                iconContent: addressNumber // Номер адреса будет отображаться на метке
                            }, 
                            {
                                preset: 'islands#redStretchyIcon' // Используем стиль, который поддерживает текст на метке
                            }
                        );

                        map.geoObjects.add(placemark);
                        coordinates.push([latitude, longitude]);
                    } else {
                        console.warn('Некорректные координаты для адреса:', name);
                    }
                });
                // Добавляем линию, соединяющую метки
                if (coordinates.length > 1) {
                    var polyline = new ymaps.Polyline(coordinates, {}, {
                        strokeColor: '#0000FF',
                        strokeWidth: 3,
                        strokeOpacity: 0.5
                    });

                    map.geoObjects.add(polyline);
                }
            }

            // Открытие модального окна и обновление меток
            $('#show-map-btn').click(function() {
                $('#map-modal').show();
                ymaps.ready(initMap); // Инициализация или обновление карты
            });

            // Закрытие модального окна
            $('.modal .close').click(function() {
                $('#map-modal').hide();
            });

            // Закрытие модального окна при клике вне содержимого
            window.onclick = function(event) {
                var modal = document.getElementById('map-modal');
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };

            $(document).ready(function() {
                $('#event-addresses-list').sortable({
                    placeholder: 'ui-state-highlight',
                    update: function(event, ui) {
                        updateAddressNumbersAfterSort();
                        saveNewOrder();
                    }
                });
                $('#event-addresses-list').disableSelection();

                function updateAddressNumbersAfterSort() {
                    $('#event-addresses-list li').each(function(index) {
                        $(this).find('.address-number').text((index + 1) + '.');
                    });
                }

                function saveNewOrder() {
                    const orderData = [];
                    $('#event-addresses-list li').each(function(index) {
                        const addressId = $(this).data('id');
                        orderData.push({ id: addressId, order: index });
                    });

                    $.ajax({
                        url: "{% url 'update_address_order' %}",
                        type: "POST",
                        data: {
                            order: JSON.stringify(orderData),
                            model: 'EventAddress', // добавлено 
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        success: function(response) {
                            console.log('Порядок адресов события успешно сохранен.');
                        },
                        error: function(response) {
                            console.error('Ошибка при сохранении порядка адресов события');
                        }
                    });
                }
            });

            // Открытие и закрытие модального окна
            $('#select-executors-btn').click(function() {
                // Собираем ID исполнителей, уже добавленных в список
                var existingExecutorIds = [];
                $('#event-executors-list li').each(function() {
                    existingExecutorIds.push($(this).data('id'));
                });

                // Находим чекбоксы, которые соответствуют существующим исполнителям, и блокируем их
                $('#executor-selection-list input[type=checkbox]').each(function() {
                    var executorId = $(this).data('id');
                    if (existingExecutorIds.includes(executorId)) {
                        $(this).prop('disabled', true);    // Отключаем чекбокс
                        $(this).prop('checked', true);     // Отмечаем чекбокс
                    } else {
                        $(this).prop('disabled', false);
                        $(this).prop('checked', false);    // Убираем отметку с чекбокса
                    }
                });

                $('#executor-modal').show();
            });
            $('.close').click(function() {
                $('#executor-modal').hide();
            });

            // AJAX-запрос для сохранения выбранных исполнителей
            $('#add-executors-btn').click(function() {
                var selectedExecutors = [];
                $('#executor-selection-list input:checked').each(function() {
                    selectedExecutors.push($(this).data('id'));
                });

                // Собираем уже существующие элементы из DOM
                $('#event-executors-list li').each(function() {
                    var executorId = $(this).data('id');
                    if (!selectedExecutors.includes(executorId)) {
                        selectedExecutors.push(executorId);
                    }
                });

                $.ajax({
                    url: "{% url 'update_event_executors' event.id %}",
                    type: "POST",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: {
                        'executors': selectedExecutors
                    },
                    success: function(response) {
                        $('#executor-modal').hide();
                        // Обновите список исполнителей на странице
                        $('#event-executors-list').empty();
                        $.each(response.executors, function(index, executor) {
                            $('#event-executors-list').append(
                                `<li data-id="${executor.id}">
                                    <span class="user-name">${executor.name}</span>
                                    | <span class="district">${executor.district}</span>
                                    | <span class="phone-number">${executor.phone_number}</span>
                                    <button class="assign-btn" data-id="${executor.id}">Назначить</button>
                                    <button class="delete-executor-btn" data-id="${executor.id}">Удалить</button>
                                </li>`
                            );
                        });
                    },
                    error: function(xhr, status, error) {
                        alert('Ошибка при сохранении исполнителей. Попробуйте еще раз.');
                    }
                });
            });

            // Удаление исполнителя из списка
            $(document).on('click', '.delete-executor-btn', function() {
                var executorId = $(this).data('id');
                var eventId = "{{ event.id }}";  // Замените на динамические данные, если требуется

                // Удаляем элемент из списка на странице
                $(this).closest('li').remove();

                // Отправляем запрос на сервер для удаления
                $.ajax({
                    url: "{% url 'remove_executor' %}",
                    method: "POST",
                    data: {
                        'executor_id': executorId,
                        'event_id': eventId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        console.log('Исполнитель удален');
                    },
                    error: function(xhr, status, error) {
                        console.error('Произошла ошибка при удалении исполнителя: ', error);
                    }
                });

            });
            
            // Это для логики назначения исполнителя к события
            $('#assign-btn').click(function() {
                // Логика для передачи данных на сервер
            });
        });
    </script>
</body>
</html>