<!-- templates/projects/edit_project.html -->
<html>
<head>
    <title>Правка - {{ project.name }}</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'projects/yandex-map-modal.css' %}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ api_key }}&lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <h1>{{ project.name }}</h1>
    <form id="project-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="{{ form.name.id_for_label }}">Название</label>
            {{ form.name }}
        </p>
        <p>
            <label for="{{ form.organization.id_for_label }}">Организация взаимодействия</label>
            {{ form.organization }}
        </p>
        <div id="new-organization-field" style="display: none;">
            <label for="{{ form.new_organization.id_for_label }}">Новая организация</label>
            {{ form.new_organization }}
        </div>
        <p>
            <label for="{{ form.product.id_for_label }}">Продукция взаимодействия</label>
            {{ form.product }}
        </p>
        <p>
            <label for="{{ form.description.id_for_label }}">Описание</label>
            {{ form.description }}
        </p>
    </form>
    <a href="{% url 'create_event' project.id %}">Создать событие</a>
    <ul>
        {% for event in events %}
        <li>
            <a href="{% url 'edit_event' event.id %}">
                {{ event.get_event_type_display }} {{ event.event_date }}
            </a>
            <form method="POST" action="{% url 'delete_event' event.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Вы уверены что хотите удалить событие?');">Удалить</button>
            </form>
        </li>
        {% empty %}
            <li>Нет событий.</li>
        {% endfor %}
    </ul>
    <p>
        <label for="{{ form.excel_file.id_for_label }}">Excel-файл</label>
        {{ form.excel_file }}
    </p>
    <button type="button" id="get-coordinates-btn">Получить координаты</button>
    <span id="remaining-requests">Осталось {{ remaining_requests }} запросов</span>
    <div id="loading-indicator" style="display: none;">Идет парсинг адресов, пожалуйста подождите...</div>
    
    <h2>Список адресов</h2>
    <ul id="addresses-list">
        {% for address in addresses %}
        <li data-id="{{ address.id }}">
            <span class="address-number">{{ forloop.counter }}.</span> 
            <input class="address-name" value="{{ address.name }}" data-id="{{ address.id }}"> |
            <span class="latitude">{{ address.latitude }}</span> | 
            <span class="longitude">{{ address.longitude }}</span>
            <button class="delete-address-btn" data-id="{{ address.id }}">Удалить</button>
        </li>
        {% empty %}
        <li>Нет адресов.</li>
        {% endfor %}
    </ul>

    <div id="map-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="map" style="width: 600px; height: 400px;"></div>
        </div>
    </div>

    <button type="button" id="add-address-btn">Добавить адрес</button>
    <button type="button" id="update-addresses-btn">Обновить список</button>
    <button type="button" id="delete-addresses-btn">Удалить список</button>
    <button type="button" id="show-map-btn">Показать карту</button>
    <button type="button" id="save-project-button">Сохранить проект</button>
    <a href="{% url 'manage_projects' %}">Закрыть</a>
    <script>
        $(document).ready(function() {
            // сохранение проекта
            $('#save-project-button').click(function() {
                $('#project-form').submit();
            });
            // поле для новой организации
            $('#id_organization').change(function() {
                if ($(this).val() == 'add_new') {
                    $('#new-organization-field').show();
                } else {
                    $('#new-organization-field').hide();
                }
            }).change(); // Trigger change to update on load
        });
    </script>
    <script>
        document.getElementById('get-coordinates-btn').addEventListener('click', function() {
            const btn = this;
            if (btn.disabled) return;

            document.getElementById('loading-indicator').style.display = 'block';
            const formData = new FormData();
            formData.append('excel_file', document.querySelector('input[type="file"]').files[0]);
            fetch("{% url 'get_coordinates' project.id %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('loading-indicator').style.display = 'none';

                if (data.status === 'ok') {
                    const addressList = document.getElementById('addresses-list');
                    data.addresses.forEach(html => {
                        const tempDiv = document.createElement('div');
                        tempDiv.innerHTML = html;
                        addressList.appendChild(tempDiv.firstElementChild); // Добавляем новые адреса к существующему списку
                    });
                    addDeleteEventListeners(); // Повторное добавление обработчиков событий
                    updateAddressNumbers() // Обновление нумерации списка

                    // Обновление оставшихся запросов
                    updateRemainingRequestsCount(data.remaining_requests);
                } else {
                    alert(data.message || 'Ошибка при получении координат');
                    if (data.message && data.message.includes('Закончились запросы')) {
                        btn.disabled = true;  // Отключение кнопки при исчерпании запросов
                    }
                }

                // Обновление оставшегося количества запросов независимо от статуса
                updateRemainingRequestsCount(data.remaining_requests);
            })
            .catch(error => {
                document.getElementById('loading-indicator').style.display = 'none';
                console.error('Error:', error);
                alert('Ошибка сети');
            });
        });
    
        function addDeleteEventListeners() {
            document.querySelectorAll('.delete-address-btn').forEach(button => {
                button.addEventListener('click', function() {
                    const li = button.closest('li');
                    // Дополнительная логика для удаления из БД может быть добавлена здесь
                    li.remove(); // Удаление элемента из DOM
                });
            });
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Обработка редактирования адреса
            document.querySelectorAll('.address-name').forEach(input => {
                input.addEventListener('change', function() {
                    const addressId = this.getAttribute('data-id');
                    const newName = this.value;
                    
                    fetch(`{% url 'edit_address_name' project.id %}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ id: addressId, new_name: newName })
                    });
                });
            });

            // Обработка удаления адреса
            document.querySelectorAll('.delete-address-btn').forEach(button => {
                button.addEventListener('click', function() {
                    const addressId = this.getAttribute('data-id');
                    
                    fetch(`{% url 'delete_address' project.id %}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ id: addressId })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'ok') {
                            this.parentElement.remove();
                        } else {
                            alert('Ошибка при удалении адреса');
                        }
                    });
                });
            });
        });
        
        // Глобальная переменная для карты
        var map;

        function initMap() {
            // Создаём карту только в первый раз
            if (!map) {
                map = new ymaps.Map('map', {
                    center: [55.76, 37.64], // Начальная позиция - Москва
                    zoom: 10
                });
            }

            // Очищаем все предыдущие метки
            map.geoObjects.removeAll();

            // Создаем массив для хранения координат меток
            let coordinates = [];

            // Добавление меток на карту
            $('#addresses-list li').each(function() {
                // Чтение значений из DOM, удаления лишних пробелов
                var latitudeText = $(this).find('.latitude').text().trim();
                var longitudeText = $(this).find('.longitude').text().trim();
                var name = $(this).find('.address-name').val() || '';
                var addressNumber = $(this).find('.address-number').text().trim().replace('.', ''); // Убираем точку

                // Замена запятых на точки, если потребуется
                var latitude = parseFloat(latitudeText.replace(',', '.'));
                var longitude = parseFloat(longitudeText.replace(',', '.'));

                // Проверяем, что получили правильные координаты
                if (!isNaN(latitude) && !isNaN(longitude)) {
                    var placemark = new ymaps.Placemark(
                        [latitude, longitude], 
                        {
                            // Добавляем номер адреса в bubble и на метке
                            balloonContent: `<strong>Адрес ${addressNumber}</strong>: ${name}`,
                            iconContent: addressNumber // Номер адреса будет отображаться на метке
                        }, 
                        {
                            preset: 'islands#redStretchyIcon' // Используем стиль, который поддерживает текст на метке
                        }
                    );

                    map.geoObjects.add(placemark);
                    coordinates.push([latitude, longitude]);
                } else {
                    console.warn('Некорректные координаты для адреса:', name);
                }
            });
            // Добавляем линию, соединяющую метки
            if (coordinates.length > 1) {
                var polyline = new ymaps.Polyline(coordinates, {}, {
                    strokeColor: '#0000FF',
                    strokeWidth: 3,
                    strokeOpacity: 0.5
                });

                map.geoObjects.add(polyline);
            }
        }

        // Открытие модального окна и обновление меток
        $('#show-map-btn').click(function() {
            $('#map-modal').show();
            ymaps.ready(initMap); // Инициализация или обновление карты
        });

        // Закрытие модального окна
        $('.modal .close').click(function() {
            $('#map-modal').hide();
        });

        // Закрытие модального окна при клике вне содержимого
        window.onclick = function(event) {
            var modal = document.getElementById('map-modal');
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

        // функция сортировки списка адресов
        $(document).ready(function() {
            $('#addresses-list').sortable({
                placeholder: 'ui-state-highlight',
                update: function(project, ui) {
                    updateAddressNumbersAfterSort();
                    saveNewOrder();
                }
            });
            $('#addresses-list').disableSelection();

            function updateAddressNumbersAfterSort() {
                $('#addresses-list li').each(function(index) {
                    $(this).find('.address-number').text((index + 1) + '.');
                });
            }

            function saveNewOrder() {
                const orderData = [];
                $('#addresses-list li').each(function(index) {
                    const addressId = $(this).data('id');
                    orderData.push({ id: addressId, order: index });
                });

                $.ajax({
                    url: "{% url 'update_address_order' %}",
                    type: "POST",
                    data: {
                        order: JSON.stringify(orderData),
                        model: 'Address', // добавлено 
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success: function(response) {
                        console.log('Порядок адресов проекта успешно сохранен.');
                    },
                    error: function(response) {
                        console.error('Ошибка при сохранении порядка адресов проекта');
                    }
                });
            }
        });

        document.getElementById('add-address-btn').addEventListener('click', function() {
            const addressList = document.getElementById('addresses-list');
            const newListItem = document.createElement('li');

            // Создаем новый элемент списка с пустыми данными
            newListItem.innerHTML = `
                <span class="address-number">${addressList.children.length + 1}.</span>
                <input type="text" name="new_address_names[]" class="address-name" placeholder="Введите название адреса">
                <span class="latitude"></span> | <span class="longitude"></span>
                <button type="button" class="delete-address-btn">Удалить</button>
            `;

            addressList.appendChild(newListItem);
            newListItem.querySelector('.delete-address-btn').addEventListener('click', function() {
                addressList.removeChild(newListItem);
                updateAddressNumbers();
            });
        });

        document.getElementById('update-addresses-btn').onclick = function() {
            const newAddresses = document.querySelectorAll('input[name="new_address_names[]"]');
            const data = Array.from(newAddresses).map(input => input.value).filter(name => name.trim() !== '');

            fetch("{% url 'update_addresses' project.id %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ 
                    new_addresses: data 
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'ok') {
                    alert('Адреса успешно обновлены');
                    updateRemainingRequestsCount(data.remaining_requests);
                    location.reload();
                } else {
                    alert(data.message || 'Произошла ошибка при обновлении адресов');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Ошибка сети');
            });
        };

        function updateRemainingRequestsCount(count) {
            document.getElementById('remaining-requests').innerText = `Осталось ${count} запросов`;
        }

        function updateAddressNumbers() {
            const addressNumbers = document.querySelectorAll('.address-number');
            addressNumbers.forEach((span, index) => {
                span.textContent = `${index + 1}.`;
            });
        }

        document.getElementById('delete-addresses-btn').addEventListener('click', function() {
            if (!confirm('Вы уверены, что хотите удалить все адреса?')) {
                return;
            }
    
            fetch("{% url 'delete_addresses' project.id %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    // Очистите список адресов на странице
                    document.getElementById('addresses-list').innerHTML = '<li>Нет адресов.</li>';
                } else {
                    alert('Ошибка при удалении адресов');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Ошибка сети');
            });
        });
    </script>
</body>
</html>