<!-- templates/projects/event_detail.html -->
<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали события</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/event-detail.css' %}">
    
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.1.12.1.min.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ api_key }}&lang=ru_RU" type="text/javascript"></script>
</head>
<body class="page event-detail">
    <header class="page__header">
        <nav class="nav">
            {% if is_manager %}
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link nav__link--inactive" href="{% url 'profile' %}">Профиль</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--inactive" href="{% url 'manage_projects' %}">Проекты</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--active">Контроль</a>
                </li>
            </ul>
            {% endif %}
            {% if is_executor %}
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link nav__link--inactive" href="{% url 'executor_profile' %}">Профиль</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--active">События</a>
                </li>
            </ul>
            {% endif %}
        </nav>
        <div class="logo">
            <img class="logo__img" src="{% static 'img/logo.png' %}" alt="Логотип">
        </div>
    </header>
    <div class="container">
        <div class="event-detail__header">
            <h1 class="page__title">{{ event.get_event_type_display }}: {{ event.project.name }}</h1>
            <a class="event-detail__close-btn page__close-btn" href="{% if is_executor %}{% url 'assigned_events_list' %}{% elif is_manager %}{% url 'events_control' %}{% else %}{% url 'home' %}{% endif %}"></a>
        </div>
        <div class="event-detail__content">
            <div class="event-detail__content-row">
                <div class="event-detail__content-col">
                    <div class="event-detail__content-cell" data-section-id="details">
                        <div class="event-detail__cell-header" data-section-id="details">
                            <h2 class="page__block-title">Детали</h2>
                        </div>
                        <div class="event-detail__cell-content" data-section-id="details">
                            <div class="event-detail__cell-content-wrap">
                                <div class="event-detail__field">
                                    <span class="event-detail__field-name">
                                        Организация:
                                    </span>
                                    <span class="event-detail__field-value">
                                        {{ event.project.organization }}
                                    </span>
                                </div>
                                <div class="event-detail__field">
                                    <span class="event-detail__field-name">
                                        Продукт:
                                    </span>
                                    <span class="event-detail__field-value">
                                        {{ event.project.product }}
                                    </span>
                                </div>
                                <div class="event-detail__field">
                                    <span class="event-detail__field-name">
                                        Кол-во фото: 
                                    </span>
                                    <span class="event-detail__field-value">
                                        {{ event.photo_count }}
                                    </span>
                                </div>
                                <div class="event-detail__field">
                                    <span class="event-detail__field-name">
                                        Дата начала: 
                                    </span>
                                    <span class="event-detail__field-value">
                                        {{ event.event_date }}
                                    </span>
                                </div>
                                <div class="event-detail__field">
                                    <span class="event-detail__field-name">
                                        Срок выполнения (в днях):
                                    </span>
                                    <span class="event-detail__field-value">
                                        {{ event.duration_days }}
                                    </span>
                                </div>
                                <div class="event-detail__field">
                                    <span class="event-detail__field-name">
                                        Описание:
                                    </span>
                                    <span class="event-detail__field-value">
                                        {{ event.description }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event-detail__content-cell" data-section-id="appointments">
                        <div class="event-detail__cell-header" data-section-id="appointments">
                            <h2 class="page__block-title">Назначения</h2>
                        </div>
                        <div class="event-detail__cell-content" data-section-id="appointments">
                            <div class="event-detail__cell-content-wrap">
                                <div class="event-detail__appointments-btns">
                                    <button class="event-detail__update-route-btn btn" id="update-route" type="button">Обновить маршрут</button>
                                    <button class="event-detail__print-addresses-btn btn" id="print-addresses" type="button">Печать маршрута</button>
                                </div>
                                {% if is_manager %}
                                    <div class="event-detail__appointments-content">
                                        <ul class="nav-tabs" id="managerTabs" role="tablist">
                                            {% for executor, addresses in addresses_with_photos_manager.items %}
                                                {% if executor or addresses %}
                                                    <li class="nav-item">
                                                        <a class="nav-link {% if forloop.first %}active{% endif %}"
                                                        id="tab-{% if executor %}{{ executor.id }}{% else %}unassigned{% endif %}"
                                                        data-target="#executor-{% if executor %}{{ executor.id }}{% else %}unassigned{% endif %}"
                                                        role="tab">
                                                            {% if executor %}
                                                                {{ executor.name }}
                                                            {% else %}
                                                                Без назначения
                                                            {% endif %}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <div class="tab-content" id="managerTabsContent">
                                            {% for executor, addresses in addresses_with_photos_manager.items %}
                                                {% if executor or addresses %}
                                                    <div class="tab-pane {% if forloop.first %}active{% endif %}"
                                                        id="executor-{% if executor %}{{ executor.id }}{% else %}unassigned{% endif %}"
                                                        role="tabpanel">
                                                        <ul class="event-detail__addresses-list">
                                                            {% for item in addresses %}
                                                            <li class="event-detail__addresses-item" 
                                                                data-id="{{ item.address.id }}" 
                                                                data-executor-id="{{ item.executor_id }}" 
                                                                data-executor-color="{{ item.executor_color }}" 
                                                                data-address-name="{{ item.address.name }}">
                                                                <span class="address-number">={{ forloop.counter }}=</span>
                                                                <span class="address-name">{{ item.address.name }}</span>
                                                                {% if item.has_photos %}
                                                                    <button type="button" class="view-details btn" data-address-id="{{ item.address.id }}">Фото</button>
                                                                {% endif %}
                                                                <span class="hidden-coordinates">
                                                                    <span class="latitude">{{ item.address.latitude }}</span> | 
                                                                    <span class="longitude">{{ item.address.longitude }}</span>
                                                                </span>
                                                            </li>
                                                            {% empty %}
                                                                <li>Нет назначенных адресов для {% if executor %}{{ executor.name }}{% else %}категории "Без назначения"{% endif %}.</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            
                                {% if is_executor %}
                                    <ul class="event-detail__addresses-list" id="executor-event-addresses-list">
                                        {% for item in addresses_with_photos_executor %}
                                        <li class="event-detail__addresses-item accordion-header {% if item.has_photos %}has-photos{% endif %}" data-id="{{ item.address.id }}" data-executor-id="{{ item.executor_id }}" data-executor-color="{{ item.executor_color }}">
                                            <div class="accordion-header-wrap">
                                                <span class="address-number">={{ forloop.counter }}=</span> 
                                                <span class="address-name">{{ item.address.name }}</span>
                                            </div>
                            
                                            <div class="photo-upload" style="display: none;">
                                                {% if user_event_status == 'completed' %}
                                                    <span>Фотографии приняты</span>
                                                {% else %}
                                                    {% if item.has_photos %}
                                                    <div class="photo-upload__has-photo">
                                                        <span>Фото загружено</span>
                                                        <button class="refresh-upload-form btn" data-url="{% url 'upload_photos' event.id item.address.id %}">Перезагрузить</button>
                                                    </div>
                                                    {% else %}
                                                    <form class="photo-upload__form" method="post" enctype="multipart/form-data" action="{% url 'upload_photos' event.id item.address.id %}">
                                                        {% csrf_token %}
                                                        <div class="photo-upload__form-wrap">

                                                            <!-- Скрытый input для выбора файлов -->
                                                            <input type="file" name="photos" id="fileInput" accept="image/*" multiple style="display: none;">
                                                            
                                                            <!-- Кастомная кнопка для вызова input -->
                                                            <button  class="photo-upload__choose-btn btn" type="button" id="customButton">Выбрать</button>
                                                            
                                                            <!-- Текстовое поле для отображения выбранных файлов -->
                                                            <span id="fileLabel">фото</span>
                                                            
                                                            <!-- Другие элементы формы -->
                                                            <label class="photo-upload__form-label">
                                                                <input type="checkbox" name="force_mjeure"> Форс-мажор
                                                            </label>
                                                        </div>
                                                        <button class="photo-upload__submit-btn btn" type="submit">Загрузить</button>
                                                    </form>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                            
                                            <span class="hidden-coordinates">
                                                <span class="latitude">{{ item.address.latitude }}</span> | 
                                                <span class="longitude">{{ item.address.longitude }}</span>
                                            </span>
                                        </li>
                                        {% empty %}
                                        <li>Нет назначенных адресов.</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            
                                <!-- Модальное окно для просмотра фото -->
                                <div id="photosModal" class="modal" style="display: none;">
                                    <div class="modal-content">
                                        <span class="modal-close-btn"></span>
                                        <div class="photo-viewer">
                                            <button class="prev-photo"></button>
                                            <img class="modal__img" id="photoDisplay" src="" alt="Фото"/>
                                            <button class="next-photo"></button>
                                        </div>
                                    </div>
                                </div>
                                
                                {% if is_executor %}
                                    {% if user_event_status == 'completed' %}
                                        <p>{{ event.get_event_type_display }}: завершён</p>
                                    {% else %}
                                        <button class="event-detail__complete-event-btn btn" id="complete-event">Завершить</button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="event-detail__content-col">
                    <div class="map-wrap">
                        <div id="map" style="width: 100%; height: 100%;"></div>
                    </div>
                </div>

            </div>
        </div>
    
    </div>

    <script type="text/javascript">
        window.csrfToken = '{{ csrf_token }}'; // Глобальная переменная с CSRF-токеном

        document.addEventListener('DOMContentLoaded', function() {
            // Находим все формы загрузки фотографий
            const photoUploadForms = document.querySelectorAll('.photo-upload__form');

            photoUploadForms.forEach(form => {
                const fileInput = form.querySelector('input[type="file"]');
                const customButton = form.querySelector('.photo-upload__choose-btn');
                const fileLabel = form.querySelector('#fileLabel');

                if (fileInput && customButton && fileLabel) {
                    // Обработчик клика по кастомной кнопке
                    customButton.addEventListener('click', function() {
                        fileInput.click(); // Программно вызываем клик по скрытому input
                    });

                    // Обработчик изменения выбранных файлов
                    fileInput.addEventListener('change', function() {
                        if (fileInput.files.length > 0) {
                            // Если файлы выбраны, обновляем текст
                            fileLabel.textContent = `Выбрано фото: ${fileInput.files.length}`;
                        } else {
                            // Если файлы не выбраны, показываем стандартный текст
                            fileLabel.textContent = 'Фото не выбрано';
                        }
                    });
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const addressNames = document.querySelectorAll('.address-name');

            addressNames.forEach(addressName => {
                const text = addressName.textContent;
                const parentContainer = addressName.closest('.event-detail__content-col'); // Находим родительский контейнер
                const containerWidth = parentContainer ? parentContainer.offsetWidth : 0; // Ширина родительского контейнера
                const textWidth = getTextWidth(text, addressName);

                if (textWidth > containerWidth - 170) {
                    addressName.innerHTML = `<span class="marquee-text">${text}</span>`;
                    const marqueeText = addressName.querySelector('.marquee-text');

                    // Рассчитываем, насколько нужно сдвинуть текст
                    const maxScroll = textWidth - containerWidth + 180;

                    // Обработка наведения курсора
                    addressName.addEventListener('mouseenter', () => {
                        marqueeText.style.transform = `translateX(-${maxScroll}px)`; // Сдвигаем текст
                    });

                    // Обработка ухода курсора
                    addressName.addEventListener('mouseleave', () => {
                        marqueeText.style.transform = 'translateX(0)'; // Возвращаем текст в исходное положение
                    });
                }
            });

            function getTextWidth(text, element) {
                const span = document.createElement('span');
                span.style.visibility = 'hidden';
                span.style.whiteSpace = 'nowrap';
                span.style.position = 'absolute';
                span.textContent = text;
                document.body.appendChild(span);
                const width = span.offsetWidth;
                document.body.removeChild(span);
                return width;
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            const tabs = document.querySelectorAll('.nav-link');
            const tabPanes = document.querySelectorAll('.tab-pane');

            tabs.forEach(tab => {
                tab.addEventListener('click', function(e) {
                    e.preventDefault();

                    // Убираем активный класс у всех табов и панелей
                    tabs.forEach(t => t.classList.remove('active'));
                    tabPanes.forEach(pane => pane.classList.remove('active'));

                    // Добавляем активный класс текущему табу и соответствующей панели
                    this.classList.add('active');
                    const targetPane = document.querySelector(this.getAttribute('data-target'));
                    if (targetPane) {
                        targetPane.classList.add('active');
                    }
                });
            });

            // Активируем первый таб по умолчанию
            if (tabs.length > 0) {
                tabs[0].click();
            }
        });

        $(document).ready(function() {
            // Инициализация аккордеона
            $('.event-detail__content-cell').each(function () {
                const sectionId = $(this).data('section-id');
                let isOpen = localStorage.getItem(`accordion-${sectionId}`) === 'true';
                $(this).find('.event-detail__cell-content').toggle(isOpen);
                $(this).find('.event-detail__cell-header').toggleClass('event-detail__cell-header--active', isOpen);
            });

            $('.event-detail__cell-header').on('click', function () {
                const section = $(this).closest('.event-detail__content-cell');
                const sectionId = section.data('section-id');
                $(this).next('.event-detail__cell-content').slideToggle(function () {
                    const isOpen = $(this).is(':visible');
                    localStorage.setItem(`accordion-${sectionId}`, isOpen.toString());
                });
                $(this).toggleClass('event-detail__cell-header--active');
            });

            // Toggle accordion sections by clicking on the header
            $('#executor-event-addresses-list').on('click', '.accordion-header-wrap', function(event) {
                // Останавливаем всплытие события, чтобы клик на дочерние элементы не срабатывал
                event.stopPropagation();

                // Находим родительский элемент аккордеона и блок с фото
                const $accordionHeader = $(this).closest('.event-detail__addresses-item.accordion-header');
                const $photoUpload = $accordionHeader.find('.photo-upload');
                const $accordionHeaderWrap = $(this);
                
                // Проверяем состояние аккордеона
                if ($photoUpload.is(':hidden')) { // Если аккордеон закрыт
                    // Добавляем класс 'active'
                    $accordionHeaderWrap.addClass('active');
                    
                    // Открываем аккордеон
                    $photoUpload.slideDown();
                } else { // Если аккордеон открыт
                    $accordionHeaderWrap.removeClass('active');
                    // Закрываем аккордеон
                    $photoUpload.slideUp();
                }
            });

            // Handle refresh and re-upload
            $(document).on('click', '.refresh-upload-form', function() {
                const action = $(this).data('url');
                const csrfToken = window.csrfToken;

                if (!csrfToken) {
                    alert('CSRF token not found!');
                    return;
                }

                const formHtml = `
                    <form class="photo-upload__form" method="post" enctype="multipart/form-data" action="${action}">
                        <input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">
                        <div class="photo-upload__form-wrap">
                            <input type="file" name="photos" id="fileInput" accept="image/*" multiple style="display: none;">
                            <button class="photo-upload__choose-btn btn" type="button" id="customButton">Выбрать</button>
                            <span class="fileLabel">фото</span> <!-- Используем класс вместо id -->
                            <label class="photo-upload__form-label">
                                <input type="checkbox" name="force_mjeure"> Форс-мажор
                            </label>
                        </div>
                        <button class="photo-upload__submit-btn btn" type="submit">Загрузить</button>
                    </form>
                `;

                const parentElement = $(this).closest('.photo-upload');
                parentElement.html(formHtml);
                console.log('Форма вставлена в:', parentElement);

                const chooseButton = parentElement.find('.photo-upload__choose-btn');
                const fileInput = parentElement.find('input[type="file"]');
                const fileLabel = parentElement.find('.fileLabel'); // Используем класс

                if (chooseButton.length && fileInput.length && fileLabel.length) {
                    console.log('Элементы формы найдены');

                    chooseButton.on('click', function() {
                        console.log('Кнопка "Выбрать" нажата');
                        fileInput.trigger('click');
                    });

                    fileInput.on('change', function() {
                        console.log('Событие change сработало');
                        const files = this.files;
                        if (files.length > 0) {
                            fileLabel.text(`Выбрано фото: ${files.length}`);
                            console.log('Выбрано файлов:', files.length);
                        } else {
                            fileLabel.text('фото');
                        }
                    });
                } else {
                    console.error('Элементы формы не найдены');
                }
            });

            // AJAX-запрос для получения и отображения фото в модальном окне
            $(document).on('click', '.view-details', function() {
                const addressId = $(this).data('address-id');
                const addressName = $(this).closest('.event-detail__addresses-item').data('address-name'); // Получаем имя адреса
                let currentPhotoIndex = 0;
                let photos = [];

                $.ajax({
                    url: `{% url 'view_photos' event.id %}?address_id=${addressId}`,
                    method: 'GET',
                    success: function(data) {
                        photos = data.photos;

                        if (photos && photos.length > 0) {
                            $('#photoDisplay').show();
                            currentPhotoIndex = 0;
                            displayPhoto(currentPhotoIndex);

                            if (photos.length === 1) {
                                $('.prev-photo, .next-photo').hide();
                            } else {
                                $('.prev-photo, .next-photo').show();
                            }
                        } else {
                            $('#photoDisplay').hide();
                            $('.prev-photo, .next-photo').hide();
                        }

                        $('#photosModal').fadeIn();
                    },
                    error: function() {
                        alert('Ошибка при загрузке фотографий.');
                    }
                });

                function displayPhoto(index) {
                    if (photos && photos.length > 0) {
                        $('#photoDisplay').attr('src', photos[index].url).attr('alt', `Фото ${photos[index].name} для ${photos[index].address_name}`);
                    }
                }

                $('.prev-photo').on('click', function() {
                    currentPhotoIndex = (currentPhotoIndex - 1 + photos.length) % photos.length;
                    displayPhoto(currentPhotoIndex);
                });

                $('.next-photo').on('click', function() {
                    currentPhotoIndex = (currentPhotoIndex + 1) % photos.length;
                    displayPhoto(currentPhotoIndex);
                });
            });

            $(document).on('click', '.modal-close-btn', function() {
                $('#photosModal').fadeOut();
            });

            // Handle form submission via AJAX
            $(document).on('submit', 'form', function(event) {
                event.preventDefault();
                const form = $(this);
                const formData = new FormData(this);

                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.error) {
                            alert(response.error);
                        } else {
                            alert(response.success);
                            window.location.reload();
                        }
                    },
                    error: function() {
                        alert('Произошла ошибка. Повторите попытку позже.');
                    }
                });
            });

            $('#complete-event').on('click', function() {
                $.ajax({
                    url: '{% url "complete_event" %}', // Не забудьте создать URL-шаблон для 'complete_event'
                    method: 'POST',
                    data: {
                        'event_id': '{{ event.id }}',
                        'csrfmiddlewaretoken': window.csrfToken,
                    },
                    success: function(response) {
                        if (response.success) {
                            // Изменяем отображение на странице
                            $('#assigned-event-addresses-list .photo-upload:has(.refresh-upload-form)').each(function() {
                                $(this).html('<span>Фотографии приняты</span>');
                            });
                            alert('Мероприятие успешно завершено.');
                        } else {
                            if (response.error_addresses) {
                                const addressesWithoutPhotos = response.error_addresses.join('\n');
                                alert('Следующие адреса не содержат фотографий:\n' + addressesWithoutPhotos);
                            } else {
                                alert(response.error || 'Ошибка завершения мероприятия.');
                            }
                        }
                    },
                    error: function() {
                        alert('Произошла ошибка. Повторите попытку позже.');
                    }
                });
            });
        });

        const isManager = "{{ is_manager|yesno:'true,false' }}" === "true";
        const isExecutor = "{{ is_executor|yesno:'true,false' }}" === "true";

        ymaps.ready(init);

        function init() {
            var map = new ymaps.Map("map", {
                center: [55.76, 37.64], // Москва по умолчанию
                zoom: 10
            });

            function parseCoordinate(coordinate) {
                return parseFloat(coordinate.replace(',', '.'));
            }

            function updateMapMarkers(addresses) {
                map.geoObjects.removeAll();
                if (addresses.length === 0) {
                    return;
                }

                var coordinates = [];
                addresses.forEach(function (item, index) {
                    var latitude = parseCoordinate(item.latitude);
                    var longitude = parseCoordinate(item.longitude);
                    var addressNumber = index + 1;
                    var name = item.name;
                    var executorColor = item.executorColor || '#808080'; // Цвет по умолчанию

                    if (!isNaN(latitude) && !isNaN(longitude)) {
                        var placemark = new ymaps.Placemark(
                            [latitude, longitude],
                            {
                                balloonContent: `<strong>=${addressNumber}=</strong> ${name}`,
                                iconContent: addressNumber
                            },
                            {
                                preset: 'islands#icon',
                                iconColor: executorColor
                            }
                        );
                        map.geoObjects.add(placemark);
                        coordinates.push([latitude, longitude]);
                    } else {
                        console.warn('Некорректные координаты для адреса:', name);
                    }
                });

                if (coordinates.length > 1) {
                    var polyline = new ymaps.Polyline(coordinates, {}, {
                        strokeColor: "#0000FF",
                        strokeWidth: 3
                    });
                    map.geoObjects.add(polyline);
                }
                map.setBounds(map.geoObjects.getBounds(), { checkZoomRange: true });
            }

            function getAddressesFromList(listSelector) {
                return $(listSelector).find('li').map(function () {
                    return {
                        id: $(this).data('id'),
                        name: $(this).find('.address-name').text(),
                        latitude: $(this).find('.latitude').text(),
                        longitude: $(this).find('.longitude').text(),
                        executorColor: $(this).data('executor-color')
                    };
                }).get();
            }

            function saveNewOrder(elementSelector) {
                const orderData = [];
                $(elementSelector).find('li').each(function(index) {
                    const addressId = $(this).data('id');
                    $(this).find('.address-number').text('=' + (index + 1) + '=');
                    orderData.push({ id: addressId, order: index });
                });
                $.ajax({
                    url: "{% url 'update_address_order' %}",
                    type: "POST",
                    data: {
                        order: JSON.stringify(orderData),
                        model: 'EventAddress',
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success: function(response) {
                        console.log('Порядок адресов успешно сохранен.');
                    },
                    error: function(response) {
                        console.error('Ошибка при сохранении порядка адресов');
                    }
                });
            }

            function handleUpdateRoute() {
                let addresses;
                let listSelector;

                if (isManager) {
                    listSelector = '#managerTabsContent .tab-pane.active ul';
                } else if (isExecutor) {
                    listSelector = '#executor-event-addresses-list';
                }

                addresses = getAddressesFromList(listSelector);

                if (addresses.length > 0) {
                    $.ajax({
                        url: "{% url 'calculate_optimal_route' %}",
                        type: "POST",
                        data: {
                            coordinates: JSON.stringify(addresses),
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        success: function(response) {
                            if (response.route) {
                                reorderAddresses(response.route, addresses, listSelector);
                            }
                        },
                        error: function() {
                            alert('Ошибка при расчете оптимального маршрута.');
                        }
                    });
                }
            }

            function reorderAddresses(route, addresses, listSelector) {
                const sortedAddresses = route.map(index => addresses[index]);
                const listElement = $(listSelector);

                $.each(sortedAddresses, function(index, address) {
                    listElement.find(`li[data-id='${address.id}']`).appendTo(listElement);
                });

                $.each(listElement.find('li'), function(index, element) {
                    $(element).find('.address-number').text('=' + (index + 1) + '=');
                });
                
                updateMapMarkers(sortedAddresses);
                saveNewOrder(listElement);
            }

            $('#update-route').on('click', handleUpdateRoute);

            $(document).ready(function() { if (isManager) { $('#managerTabs a[data-target]').on('click', function (e) { e.preventDefault();

                // Сначала скрываем все содержимое вкладок
                $('#managerTabsContent .tab-pane').hide();

                // Показываем содержимое для выбранной вкладки
                const targetSelector = $(this).data('target');
                $(targetSelector).show();

                // Переключаем активный класс на текущую вкладку
                $('#managerTabs a').removeClass('active');
                $(this).addClass('active');

                // Обновляем маркеры на карте
                const addresses = getAddressesFromList(targetSelector + ' ul');
                updateMapMarkers(addresses);
                }).first().trigger('click'); // Имитируем клик для отображения первой вкладки при загрузке

                $('#managerTabsContent .tab-pane ul').sortable({
                    update: function() {
                        const addresses = getAddressesFromList(this);
                        updateMapMarkers(addresses);
                        saveNewOrder(this);
                        }
                    });
                }
            });

            if (isExecutor) {
            const addresses = getAddressesFromList('#executor-event-addresses-list');
            updateMapMarkers(addresses);

            $('#executor-event-addresses-list').sortable({
                update: function() {
                const addresses = getAddressesFromList(this);
                updateMapMarkers(addresses);
                saveNewOrder(this);
                }
            });
            }
        }
        
    </script>

</body>
<footer class="page__footer">

</footer>
</html>