<!-- templates/projects/events_control.html -->
<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контроль событий</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/events-control.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/events-control.js' %}"></script>
</head>
<body class="page">
    <header class="page__header">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link nav__link--inactive" href="{% url 'profile' %}">Профиль</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--inactive" href="{% url 'manage_projects' %}">Проекты</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--active">Контроль</a>
                </li>
            </ul>
        </nav>
        <div class="logo">
            <img class="logo__img" src="{% static 'img/logo.png' %}" alt="Логотип">
        </div>
    </header>
    <div class="container control">
        <h1 class="page__title">Контроль событий</h1>
        <div class="control__tabs" id="tabs">
            {% for status, data in event_data_by_status.items %}
                <div class="tab {% if forloop.first %}active{% endif %}" data-status="{{ status }}">
                    {{ data.display }} [ {{ data.count }} ]
                </div>
            {% endfor %}
        </div>
        <div id="tab-contents">
            {% for status, data in event_data_by_status.items %}
            <div class="tab-content {% if forloop.first %}active{% endif %}" id="content-{{ status }}">
                <table class="control__table">
                    {% if data.events %}
                        <thead class="control__table-thead">
                            <tr class="control__table-thead-tr">
                                <th class="control__table-thead-th">Название проекта</th>
                                <th class="control__table-thead-th">Организация</th>
                                <th class="control__table-thead-th">Продукция</th>
                                <th class="control__table-thead-th">Тип события</th>
                                <th class="control__table-thead-th">Дата</th> <!-- Мы объединили две колонки в одну -->
                                <th class="control__table-thead-th">Кол-во адресов</th>
                                <th class="control__table-thead-th">Исполнитель</th>
                                <th class="control__table-thead-th">Действия</th>
                            </tr>
                        </thead>
                    {% endif %}
                    <tbody class="control__table-tbody">
                        {% for event, assigned_address_count, assigned_user in data.events %}
                        <tr class="control__table-tbody-tr" data-url="{% url 'event_detail' event.id %}">
                            <td class="control__table-td"><strong>{{ event.project.name }}</strong></td>
                            <td class="control__table-td">{{ event.project.organization }}</td>
                            <td class="control__table-td">{{ event.project.product }}</td>
                            <td class="control__table-td 
                                {% if event.get_event_type_display == 'Монтаж' %} event-type--montage
                                {% elif event.get_event_type_display == 'Аудит' %} event-type--audit 
                                {% elif event.get_event_type_display == 'Демонтаж' %} event-type--demontage 
                                {% endif %}">
                                {{ event.get_event_type_display }}
                            </td>
                            <td class="control__table-td">{{ event.event_date|date:"d.m.y" }} - {{ event.due_date|date:"d.m.y" }}</td> <!-- Объединенная колонка -->
                            <td class="control__table-td">{{ assigned_address_count }}</td>
                            <td class="control__table-td">{{ assigned_user.executorprofile.name|default:assigned_user.email }} <br>
                                {{ assigned_user.executorprofile.phone_number }}</td>
                            <td class="control__table-td clickable">
                                <button class="data-button">Детали</button>
                            </td>
                        </tr>
                        {% empty %}
                        <tr class="control__table-tbody-tr">
                            <td class="control__table-td" colspan="8">Нет событий со статусом "{{ data.display|lower }}".</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
<footer class="page__footer">

</footer>
</html>