 <!-- templates/projects/manage_projects.html -->
 <!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление проектами</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'profile' %}">Профиль</a>
        <a href="{% url 'events_control' %}">Контроль событий</a>
    </nav>

    <div class="container mt-4">
        <h1>Проекты</h1>
        <a class="nav-link" href="{% url 'create_project' %}">Создать</a>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active-projects">Действующие</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed-projects">Завершённые</a>
            </li>
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane fade show active" id="active-projects">
                <ul>
                    {% for project, next_event in active_projects %}
                    <li>
                        <a href="{% url 'edit_project' project.id %}">{{ project.name }}
                            {% if project.organization %}
                                {{ project.organization }} |
                            {% endif %}
                            {% if project.product %}
                                {{ project.product }}
                            {% endif %}
                        </a>
                        {% if next_event %}
                            - {{ next_event.get_event_type_display }} {{ next_event.event_date }}
                        {% else %}
                            - нет предстоящих событий
                        {% endif %}
                        <form method="POST" action="{% url 'delete_project' project.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link" onclick="return confirm('Удаление приведёт к потере всех данных проекта! Продолжить?');">Удалить</button>
                        </form>
                    </li>
                    {% empty %}
                    <li>No active projects available.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane fade" id="completed-projects">
                <ul>
                    {% for project, next_event in completed_projects %}
                    <li>
                        <a href="{% url 'edit_project' project.id %}">{{ project.name }}
                            {% if project.organization %}
                                {{ project.organization }} |
                            {% endif %}
                            {% if project.product %}
                                {{ project.product }}
                            {% endif %}
                        </a>
                        {% if next_event %}
                            - {{ next_event.get_event_type_display }} {{ next_event.event_date }}
                        {% else %}
                            - нет предстоящих событий
                        {% endif %}
                        <form method="POST" action="{% url 'delete_project' project.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link" onclick="return confirm('Удаление приведёт к потере всех данных проекта! Продолжить?');">Удалить</button>
                        </form>
                    </li>
                    {% empty %}
                    <li>Нет завершённых проектов.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Подключение Bootstrap JS и Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>