<!-- templates/projects/manage_projects.html -->
<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление проектами</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/manage-projects.css' %}">
</head>
<body class="page">
    <header class="page__header">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link nav__link--inactive" href="{% url 'profile' %}">Профиль</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--active">Проекты</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--inactive" href="{% url 'events_control' %}">Контроль</a>
                </li>
            </ul>
        </nav>
        <div class="logo">
            <img class="logo__img" src="{% static 'img/logo.png' %}" alt="Логотип">
        </div>
    </header>

    <div class="container">
        <header class="projects__header">
            <h1 class="page__title">Управление проектами</h1>
            <a id="createProjectBtn" class="create-project__link btn" href="#">Создать проект</a>
        </header>
        <ul class="tabs tabs__list">
            <li class="tab tabs-item">
                <a class="tab-link active" id="active-tab" href="#active-projects">Действующие</a>
            </li>
            <li class="tab tabs-item">
                <a class="tab-link" id="completed-tab" href="#completed-projects">Завершённые</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="projects active" id="active-projects">
                <ul class="projects__list">
                    {% for project, next_event in active_projects %}
                    <li class="projects__item">
                        <a class="projects__link" href="{% url 'edit_project' project.id %}">{{ project.name }} |
                            {% if project.organization %}
                                {{ project.organization }} |
                            {% endif %}
                            {% if project.product %}
                                {{ project.product }}
                            {% endif %}
                        </a>
                        <div class="projects__next-event">
                            {% if next_event %}
                                <span 
                                    class="projects__event-type"
                                    data-event-type="{{ next_event.get_event_type_display }}">
                                    {{ next_event.get_event_type_display }}
                                </span>
                                <span class="projects__event-date">
                                    {{ next_event.event_date }}
                                </span>
                            {% else %}
                                <span class="projects__no-event">нет предстоящих событий</span>
                            {% endif %}
                        </div>
                        <form class="projects__delete-form" method="POST" action="{% url 'delete_project' project.id %}">
                            {% csrf_token %}
                            <button type="submit" class="projects__delete-btn btn" onclick="return confirm('Удаление приведёт к потере всех данных проекта! Продолжить?');">Удалить</button>
                        </form>
                    </li>
                    {% empty %}
                    <li class="projects__item">Нет действующих проектов</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="projects" id="completed-projects">
                <ul class="projects__list">
                    {% for project, next_event in completed_projects %}
                    <li class="projects__item">
                        <a class="projects__link" href="{% url 'edit_project' project.id %}">{{ project.name }}
                            {% if project.organization %}
                                | {{ project.organization }} 
                            {% endif %}
                            {% if project.product %}
                                | {{ project.product }}
                            {% endif %}
                        </a>
                        {% if next_event %}
                            - {{ next_event.get_event_type_display }} {{ next_event.event_date }}
                        {% else %}
                            - нет предстоящих событий
                        {% endif %}
                        <form class="projects__delete-form" method="POST" action="{% url 'delete_project' project.id %}">
                            {% csrf_token %}
                            <button type="submit" class="projects__delete-btn btn" onclick="return confirm('Удаление приведёт к потере всех данных проекта! Продолжить?');">Удалить</button>
                        </form>
                    </li>
                    {% empty %}
                    <li class="projects__item">Нет завершённых проектов.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="createProjectModal" class="modal">
        <div class="modal-content">
            <div id="modal-body">
                <div class="modal-content__header">
                    <h2 class="page__modal-title">Создать проект</h2>
                    <span class="modal-close-btn"></span>
                </div>
                <form id="createProjectForm" class="create-project__form" method="POST">
                    {% csrf_token %}
                    <div class="create-project__field">
                        <label for="{{ form.name.id_for_label }}">Название</label>
                        {{ form.name }}
                    </div>
                    <div class="create-project__field">
                        <label for="{{ form.organization.id_for_label }}">Организация взаимодействия</label>
                        {{ form.organization }}
                    </div>
                    <div class="create-project__field" id="new-organization-field" style="display: none;">
                        <label for="{{ form.new_organization.id_for_label }}">Новая организация</label>
                        {{ form.new_organization }}
                    </div>
                    <div class="create-project__field">
                        <label for="{{ form.product.id_for_label }}">Продукция взаимодействия</label>
                        {{ form.product }}
                    </div>
                    <div class="create-project__field">
                        <label for="{{ form.description.id_for_label }}">Описание</label>
                        {{ form.description }}
                    </div>
                    <button class="create-project__btn btn" type="submit">Далее</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <!-- <div class="modal-overlay" style="display: none;">
        <div class="create-project-container modal">
            <h2>Создать проект</h2>
            <form id="createProjectForm" method="POST">
                {% csrf_token %}
                <p>
                    <label for="{{ form.name.id_for_label }}">Название</label>
                    {{ form.name }}
                </p>
                <p>
                    <label for="{{ form.organization.id_for_label }}">Организация взаимодействия</label>
                    {{ form.organization }}
                </p>
                <div id="new-organization-field" style="display: none;">
                    <label for="{{ form.new_organization.id_for_label }}">Новая организация</label>
                    {{ form.new_organization }}
                </div>
                <p>
                    <label for="{{ form.product.id_for_label }}">Продукция взаимодействия</label>
                    {{ form.product }}
                </p>
                <p>
                    <label for="{{ form.description.id_for_label }}">Описание</label>
                    {{ form.description }}
                </p>
                <button type="submit">Далее</button>
                <button type="button" id="cancelCreateProject">Отмена</button>
            </form>
        </div>
    </div> -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/manage-projects.js' %}"></script>
</body>
</html>